/* Estilo Pagina Administracion Categoria  */
.container-custom {
    width: 35%;
    margin-left: 0;
    margin-top: 20px; 
    margin-bottom: 20px;
}
/* Estilo H1 titulos de pagina */
.tituloPagina {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: black;
    color: aliceblue;
}
/* Estilo Pagina Detalles Curso */
.list-group-item {
    font-size: 14px;
}
/* Estilo Pagina Mis Cursos */
.container {
    max-width: 960px;
}
.tab-pane {
    padding: 20px;
}
.card {
    margin-bottom: 20px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.table {
    width: 100%;
}
.formularioNuevoCurso {
    width: 75%;
    margin: auto;
}
.fNuevoCurso {
    width: 60%;
    margin: auto;
}

